/*====================
    Breakpoint SIzes
====================*/
:root {
  /*====================
          Colors
  ====================*/
  --color-black: #2b2b2b;
  --color-white: #fff;
  --color-gray: #6d6d6d;
  --color-primary: #6be4d3;
  /*====================
          Fonts
  ====================*/
  --font-display: "Teko", sans-serif;
  --font-standard: "Roboto", sans-serif;
  --font-size-sm: 1.2rem;
  --font-size-med: 1.8rem;
  --font-size-lrg: 2.8rem;
  --font-size-xlrg: 3.8rem;
  --font-size-2xlrg: 5rem;
  --font-size-default: 1.6rem;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-bold: 500;
  --box-shadow-gray: 0.5rem 0.5rem 1.25rem var(--color-gray);
  /*====================
      Utility Clases
  ====================*/
}
:root .hide {
  display: none;
}
:root .flex {
  display: flex;
}
:root .grid {
  display: grid;
}

/*====================
         Layout
====================*/
.grid {
  display: grid;
  grid-template-columns: [full-start] 1px repeat(4, [col-start] 1fr [col-end]) 1px [full-end];
  grid-column-gap: 16px;
}
@media only screen and (min-width: 37.5em) {
  .grid {
    grid-template-columns: [full-start] 1px repeat(8, [col-start] 1fr [col-end]) 1px [full-end];
    grid-column-gap: 32px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  padding-block: 5rem;
}

/*======================
      Typyography
=======================*/
html {
  font-size: 62.5%;
}

body {
  color: var(--color-black);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  grid-column: full-start/full-end;
  font-family: var(--font-display);
  text-align: center;
}

.heading-2 {
  color: var(--color-white);
  font-size: var(--font-size-xlrg);
}

.heading-3 {
  font-size: var(--font-size-xlrg);
}

.heading-4 {
  font-size: var(--font-size-lrg);
  margin: 0;
}

.paragraph {
  font-family: var(--font-standard);
  font-size: var(--font-size-med);
  line-height: 2.4rem;
  margin-block: 1rem;
}

.btn {
  background-color: transparent;
  border: 4px solid;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  font-family: var(--font-display);
  font-size: var(--font-size-lrg);
  grid-column: full-start/full-end;
  justify-self: center;
  outline: none;
  padding: 0.75rem 3rem;
}
.btn--primary {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn--black {
  color: var(--color-black);
  border-color: var(--color-black);
}
.btn--gray {
  color: var(--color-gray);
  border-color: var(--color-gray);
}
.btn--transparent {
  background-color: transparent;
  border-color: var(--color-white);
  border-width: 4px;
  box-shadow: none;
}
.btn--read-more {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-family: var(--font-display);
  font-size: 2rem;
  grid-column: col-start 1/span 2;
  position: relative;
  width: max-content;
}
.btn--read-more::after {
  content: "";
  background-color: var(--color-primary);
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  display: inline-block;
  height: 0.75rem;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.75rem;
}

.header {
  background-image: linear-gradient(#ebfdfb 35%, rgba(0, 255, 221, 0.35) 70%), url("../img/hero.jpg");
  background-position: top left 45%;
  background-size: cover;
  height: 75rem;
}
.header__logo {
  grid-column: full-start/full-end;
  justify-self: center;
  margin-top: 5rem;
  width: 30rem;
}
.header .hero {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}
.header .btn {
  align-self: center;
}

.navigation {
  display: flex;
}

.menu::before,
.menu::after,
.menu {
  background-color: var(--color-black);
  border-radius: 5px;
}

.menu {
  height: 4px;
  width: 3rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.menu::before,
.menu::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

.menu::before {
  top: 1rem;
}

.menu::after {
  top: 2rem;
}

.features {
  grid-row-gap: 2rem;
  justify-items: center;
}

.feature {
  align-items: center;
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  grid-column: col-start 1/col-end 4;
  max-width: 30rem;
  text-align: center;
}
.feature__icon {
  fill: var(--color-primary);
  height: 6rem;
  width: 6rem;
}

/*======================
      Skills Section
=======================*/
.skills {
  background-color: var(--color-primary);
}

.skills__wrapper {
  display: grid;
  grid-column: col-start 1/col-end 4;
  grid-gap: 2rem;
  grid-template-areas: "skill1 skill2 skill3" "skill4 skill5 skill6" "skill7 skill8 skill9";
  justify-items: center;
  padding-block: 3rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
}
.skill__title {
  color: var(--color-black);
  text-align: center;
  font-weight: var(--font-weight-bold);
}
.skill__icon {
  fill: var(--color-white);
  height: 6rem;
  width: 6rem;
}
.skill--1 {
  grid-area: skill1;
}
.skill--2 {
  grid-area: skill2;
}
.skill--3 {
  grid-area: skill3;
}
.skill--4 {
  grid-area: skill4;
}
.skill--5 {
  grid-area: skill5;
}
.skill--6 {
  grid-area: skill6;
}
.skill--7 {
  grid-area: skill7;
}
.skill--8 {
  grid-area: skill8;
}
.skill--9 {
  grid-area: skill9;
}

.about {
  background-color: var(--color-black);
  background-image: url("../img/profile-styled.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}
.about__content {
  grid-column: col-start 1/col-end 4;
}

.footer {
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
}
.footer *:not(.footer__icon, .footer__attribution) {
  margin-bottom: 1.75rem;
}
.footer__logo {
  width: 7.5rem;
}
.footer__tagline, .footer__quote,
.footer .name {
  font-family: var(--font-display);
}
.footer__tagline {
  font-size: var(--font-size-xlrg);
}
.footer__quote {
  color: var(--color-white);
  font-size: var(--font-size-lrg);
  text-align: center;
}
.footer__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 37.5rem;
  width: 90%;
}
.footer__icon {
  border: 3px solid var(--color-gray);
  border-radius: 50%;
  fill: var(--color-white);
  height: 2.5rem;
  padding: 0.75rem;
  width: 2.5rem;
}
.footer__attribution {
  font-family: var(--font-standard);
  font-size: var(--font-size-sm);
}
.footer .name {
  font-size: var(--font-size-med);
}