:root {
  /*====================
          Colors
  ====================*/
  --color-black: #2b2b2b;
  --color-white: #fff;
  --color-gray: #6d6d6d;
  --color-primary: #6be4d3;
  /*====================
          Fonts
  ====================*/
  --font-display: "Teko", sans-serif;
  --font-standard: "Roboto", sans-serif;
  --font-size-sm: 1rem;
  --font-size-med: 1.6rem;
  --font-size-lrg: 2.4rem;
  --font-size-xlrg: 3.2rem;
  --font-size-2xlrg: 4.8rem;
  --font-size-default: 1.6rem;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-bold: 500;
  /*====================
      Utility Clases
  ====================*/
}
:root .hide {
  display: none;
}
:root .flex {
  display: flex;
}
:root .grid {
  display: grid;
}

/*====================
        Base Styles
====================*/
body {
  display: grid;
}

section {
  padding-block: 5rem;
}

/*======================
      Typyography
=======================*/
html {
  font-size: 62.5%;
}

body {
  color: var(--color-black);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: var(--font-display);
  text-align: center;
}

.heading-2 {
  color: var(--color-white);
  font-size: var(--font-size-xlrg);
}

.heading-3 {
  font-size: var(--font-size-xlrg);
}

.heading-4 {
  font-size: var(--font-size-lrg);
  margin: 0;
}

.paragraph {
  font-family: var(--font-standard);
  font-size: var(--font-size-med);
  margin-block: 1rem;
}

.btn {
  border: 2px solid;
  border-radius: 1rem;
  color: var(--color-white);
  font-family: var(--font-display);
  font-size: var(--font-size-lrg);
  outline: none;
  padding: 1rem 2rem;
}
.btn--primary {
  background-color: var(--color-primary);
  border-color: var(--color-black);
  box-shadow: 0.5rem 0.5rem 1.25rem var(--color-gray);
}
.btn--black {
  background-color: var(--color-black);
  border-color: var(--color-white);
  box-shadow: 0.5rem 0.5rem 1.25rem var(--color-gray);
}
.btn--transparent {
  background-color: transparent;
  border-color: var(--color-white);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__logo {
  width: 12rem;
}
.header .hero {
  background-image: linear-gradient(#3d3d3d, transparent 40%), url("../img/hero.jpg");
  background-size: cover;
  display: flex;
  flex-basis: 100%;
  min-height: 50rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature {
  align-items: center;
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
}
.feature__icon {
  fill: var(--color-primary);
  height: 6rem;
  width: 6rem;
}

/*======================
      Skills Section
=======================*/
.skills-section {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.skills__wrapper {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 4rem;
  justify-content: center;
}

.skill {
  margin: 0;
}
.skill__title {
  color: var(--color-black);
  text-align: center;
  font-weight: var(--font-weight-bold);
}
.skill__icon {
  fill: var(--color-white);
  height: 6.5rem;
  width: 6.5rem;
}