.about {
    display: grid;
    grid-template-rows: repeat(5,[abt-row] min-content);
    grid-template-columns: [full-start] 2rem repeat(3, [abt-col] 1fr [abt-col-end]) 2rem [full-end];
    grid-row-gap: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .heading-2 {
        grid-column: abt-col 1 / abt-col-end 3;
    }

    &__photo {
        background-image: linear-gradient(rgba($color-black, .8), rgba($color-black, .8)), url('../img/profile.jpg');
         grid-row: abt-row 2 / span 1;
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        height: 20rem;

        img {
        height: 100%;
        }
    }

    .paragraph {
        grid-column: abt-col 1 / abt-col-end 3;
    }

    .btn {
        grid-row: abt-row 5 / span 1;
        grid-column: 1 / -1;
    }

}
