//Colors
$color-primary: #1e847f;
$color-primary-light: lighten(#1e847f, 10%);
$color-secondary: #ecc19c;
$color-secondary-light: lighten(#ecc19c, 10%);
$color-white: #fcf7eeff;
$color-black: #011314ff;
$color-black-shadow: rgba(#011314, 0.5);
$color-black-shadow-2: rgba(#011314, 0.8);

//Fonts
$font-primary: 'Raleway', sans-serif;
$font-display: 'Montserrat', sans-serif; //font-weights 300, 400 & 600
$font-logo: 'Libre Barcode 128 Text', cursive;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 48.5%; // 7.75px font/16px = .485

    @media only screen and (min-width: 21.875em) {
        font-size: 55.5%; // 8.9px font/16px = .555
    }
    @media only screen and (min-width: 23.125em) {
        font-size: 62.5%; // 10px font/16px = .625
    }
}

body {
    background-image: linear-gradient(135deg, darken($color-primary-light, 14%) 0, $color-primary 25%, lighten($color-black, 2%) 50%);
    color: $color-white;
    font-family: $font-primary;
    font-size: 1.3rem;
    line-height: 1.8rem;

    display: grid;
    grid-template-rows: 15vh 85vh repeat(2, min-content);

    @media only screen and (min-width: 39.375em) {
        grid-template-rows: 10vh 90vh repeat(2, min-content);
    }

    @media only screen and (min-width: 51.875em) {
        grid-template-rows: 10vh 50vh repeat(2, min-content);
    }

}

.main--homepage {
    display: grid;
    grid-template-rows: calc(85vh - 2rem) min-content;
    grid-row-gap: 1.5rem;

    @media only screen and (min-width: 51.875em) {
        grid-template-rows: repeat(2, min-content);
    }
}
