.main--bio-page {

    .heading-2 {
        grid-column: bio-start / bio-end;

        @media only screen and (min-width: 51.875em) {
            grid-column: photo-start / bio-end;
            margin-bottom: 2rem;
        }
    }


    .bio {

        &__photo {
            @extend .about__photo;
            grid-column: full-start / full-end;
            grid-row: 1 / 2;

            @media only screen and (min-width: 51.875em) {
                // grid-column: photo-start / photo-end;
                // grid-row: 2 / -1;
                height: 25rem;
                width: 40%;
                float: right;
                margin: 0 0 1rem 2rem;
            }

            img {
                height: 100%;
            }
        }

        &__content {
            grid-column: bio-start / bio-end;

            .paragraph:not(:last-of-type) {
                margin-bottom: 1rem;
            }

        }
    }
}
