.btn {
  background-color: transparent;
  border: 4px solid;
  border-radius: 1rem;
  //box-shadow: var(--box-shadow-gray);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  font-family: var(--font-display);
  font-size: var(--font-size-lrg);
  grid-column: full-start / full-end;
  justify-self: center;
  outline: none;
  padding: 0.75rem 3rem;

  &--primary {
    @extend .btn;
    background-color: transparent; //var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  &--black {
    @extend .btn;
    color: var(--color-black);
    border-color: var(--color-black);
  }

  &--gray {
    @extend .btn;
    color: var(--color-gray);
    border-color: var(--color-gray);
  }

  &--transparent {
    @extend .btn;
    background-color: transparent;
    border-color: var(--color-white);
    border-width: 4px;
    box-shadow: none;
  }

  &--read-more {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    font-family: var(--font-display);
    font-size: 2rem;
    grid-column: col-start 1 / span 2;
    position: relative;
    width: max-content;

    &::after {
      content: '';
      background-color: var(--color-primary);
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
      display: inline-block;
      height: 0.75rem;
      margin-left: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0.75rem;
    }
  }
}
