.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;

}

.feature {
    display: flex;
    flex-direction: column;

    text-align: center;
    width: 80%;

    &__icon {
        fill:  $color-secondary;
        height: 4rem;
        width: 4rem;
        margin: 0 auto;
    }

    .heading-3 {
        font-size: 2rem;
    }
}
