.features {
  grid-row-gap: 2rem;
  justify-items: center;
}

.feature {
  align-items: center;
  color: var(--color-gray);
  display: flex;
  flex-direction: column;
  grid-column: col-start 1 / col-end 4;
  max-width: 30rem;
  text-align: center;

  &__icon {
    fill: var(--color-primary);
    height: 6rem;
    width: 6rem;
  }
}
