.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 2rem;
    justify-items: center;

}

.feature {
    display: flex;
    flex-direction: column;

    text-align: center;
    width: 85%;

    &__icon {
        fill:  $color-secondary;
        height: 3.5rem;
        width: 3.5rem;
        margin: 0 auto;
    }

    .heading-3 {
        //text-align: center;
    }
}
