.footer {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: 4rem;

    .heading-2 {
        flex-basis: 100%;
        margin-bottom: 4rem;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;
        max-width: 90rem;
    }

    &__icon {
        fill: $color-secondary;
        height: 2.75rem;
        width: 2.75rem;
        transition: all .2s;

        &:hover {
            fill: lighten($color-primary, 10%);
        }
    }
}

.attribution:link,
.attribution:visited {
    color: $color-primary;
    text-decoration: none;
    font-style: italic;
    font-family: $font-display;
    font-size: 1rem;
    margin: 2rem auto 2rem;
    transition: all .2s;
}

.attribution:hover {
    color: $color-secondary;
}
