.header {
  background-image: linear-gradient(
      rgb(235, 253, 251),
      rgb(0, 255, 221, 0.35) 70%
    ),
    url('../img/hero.jpg');
  background-position: top left 45%;
  background-size: cover;
  height: 100vh;

  &__logo {
    justify-self: center;
    margin-top: 5rem;
    width: 30rem;
  }

  .hero {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 90%;
    }
  }
}
