h1 {
  color: aquamarine;
  background-color: bisque;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}

body {
  padding: 5rem;
}

.wassup {
  margin: 50px;
}

/*New Styles*/
//Yooooo
