@use 'mixins' as *;

.header {
  background-image: linear-gradient(
      rgba(0, 255, 221, 0.35) 54%,
      rgba(0, 255, 221, 0.35) 70%
    ),
    url('../img/hero.jpg');
  background-position: top left 45%;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  height: 75rem;
  box-sizing: border-box;

  @include for-tablet-sm {
    background-image: linear-gradient(
        rgba(0, 255, 221, 0.35) 54%,
        rgba(0, 255, 221, 0.35) 70%
      ),
      url(../img/hero-tab.jpg);
    background-position: top;
    background-size: 100%;
    height: 55vh;
  }

  &__btn {
    align-self: center;
    margin-bottom: 3rem;
  }

  .hero {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 90%;
    }
  }
}
