@use 'mixins' as *;

/*====================
         Layout
====================*/
.grid {
  display: grid;
  grid-template-columns:
    [full-start] 1px repeat(4, [col-start] 1fr [col-end])
    1px [full-end];
  grid-column-gap: 1.6rem;

  @include for-tablet-sm {
    grid-template-columns:
      [full-start] repeat(8, [col-start] 1fr [col-end])
      [full-end];
    grid-column-gap: 32px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  padding: 5rem 1.6rem;

  @include for-tablet-sm {
    padding: 5rem 3.2rem;
  }
}
