/*====================
         Layout
====================*/
body,
.header,
.features,
.skills,
.about {
  display: grid;
  grid-template-columns:
    [full-start] 1px repeat(4, [col-start] 1fr [col-end])
    1px [full-end];
  grid-column-gap: 16px;
}

body {
  & * {
    grid-column: full-start / full-end;
  }
}

section {
  padding-block: 2.5rem;
}
