@use 'mixins' as *;

.nav {
  align-items: center;
  background-color: var(--color-white);
  border-bottom: 3px solid var(--color-primary);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .hamburger {
    .bar {
      background-color: var(--color-black);
      height: 3px;
      position: relative;
      transition: all 0.3s ease-in-out;
      width: 3rem;

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }

    @media only screen and (min-width: 600px) {
      display: none;
    }
  }

  &__logo {
    cursor: pointer;
    transition: all 0.4s;
    width: 20rem;

    &:hover {
      filter: drop-shadow(1rem 1rem 3rem var(--color-primary));
    }
  }

  &__menu {
    align-items: center;
    background-color: var(--color-black);
    border-top: 4px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--font-standard);
    gap: 2rem;
    justify-content: flex-start;
    height: calc(100vh - 7.5rem);
    left: 0;
    padding-top: 3rem;
    position: fixed;
    top: 7.5rem;
    transform: translateX(100%);
    transition: all 0.2s, transform 0.5s;
    width: 100%;

    @media screen and (orientation: landscape) {
      height: 7.5rem;
      justify-content: center;
      padding: 0;
      top: 0;
    }

    @media screen and (min-width: 600px) {
      height: 7.5rem;
      justify-content: center;
      padding: 0;
      top: 0;
    }

    @include for-tablet-sm {
      background: none;
      border-top: none;
      display: flex;
      flex-direction: row;
      position: relative;
      transform: translateX(0);
      width: auto;
    }
  }

  &__item {
    padding: 2rem;
    position: relative;
    max-width: max-content;

    &::after {
      background-color: var(--color-primary);
      content: '';
      height: 3px;
      left: 0;
      top: calc(100% + 2px);
      transform: scaleX(0);
      transition: all 0.2s;
      position: absolute;
      width: 100%;
    }

    @include for-tablet-sm {
      padding: 0;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__link {
    color: var(--color-primary);
    font-family: var(--font-display);
    font-size: 5rem;

    @include for-tablet-sm {
      color: var(--color-black);
      font-size: var(--font-size-lrg);
    }
  }
}

.show-menu {
  transform: translateX(0%);
}
