/*======================
      Skills Section
=======================*/

.skills {
  background-color: var(--color-primary);
}

.skills__wrapper {
  display: grid;
  grid-column: col-start 1 / col-end 4;
  grid-gap: 2rem;
  grid-template-areas:
    'skill1 skill2 skill3'
    'skill4 skill5 skill6'
    'skill7 skill8 skill9';

  justify-items: center;
  padding-block: 3rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;

  &__title {
    color: var(--color-black);
    text-align: center;
    font-weight: var(--font-weight-bold);
  }

  &__icon {
    fill: var(--color-white);
    height: 6rem;
    width: 6rem;
  }

  &--1 {
    grid-area: skill1;
  }
  &--2 {
    grid-area: skill2;
  }
  &--3 {
    grid-area: skill3;
  }
  &--4 {
    grid-area: skill4;
  }
  &--5 {
    grid-area: skill5;
  }
  &--6 {
    grid-area: skill6;
  }
  &--7 {
    grid-area: skill7;
  }
  &--8 {
    grid-area: skill8;
  }
  &--9 {
    grid-area: skill9;
  }
}
