/*======================
      Typyography
=======================*/
html {
  font-size: 62.5%; //Default font-size is 10px
}

body {
  color: var(--color-black);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: var(--font-display);
  text-align: center;
}

.heading-2 {
  color: var(--color-white);
  font-size: var(--font-size-xlrg);
}

.heading-3 {
  font-size: var(--font-size-xlrg);
}

.heading-4 {
  font-size: var(--font-size-lrg);
  margin: 0;
}

.paragraph {
  font-family: var(--font-standard);
  font-size: var(--font-size-med);
  margin-block: 1rem;
}
