/*====================
    Breakpoint SIzes
====================*/

$bp-tablet-sm: 37.5em;
$bp-tablet-lrg: 56.5em;

$bp-laptop: 77.5em;

$bp-desktop: 90em;

:root {
  /*====================
        Colors
====================*/
  --color-black: #2b2b2b;
  --color-white: #fff;
  --color-gray: #6d6d6d;
  --color-primary: #6be4d3;

  /*====================
        Fonts
====================*/
  --font-display: 'Teko', sans-serif;
  --font-standard: 'Roboto', sans-serif;

  --font-size-sm: 1.2rem;
  --font-size-med: 1.8rem;
  --font-size-lrg: 2.8rem;
  --font-size-xlrg: 3.8rem;
  --font-size-2xlrg: 5rem;
  --font-size-default: 1.6rem;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-bold: 500;

  --box-shadow-gray: 0.5rem 0.5rem 1.25rem var(--color-gray);
  /*====================
    Utility Clases
====================*/
  .hide {
    display: none;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }
}
