/* main.css */

/*==========
1.Global styles
==========*/

html {

    color: white;
    background: rgb(0,0,0);
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    height: auto;
    overflow: hidden;
}

h1,
h2 {
    text-align: center;
    line-height: 0;

}

h1{
    font-size: 15vw;
}

h2{
    font-size: 4vw;
    margin: 0;
    width: auto;

}


#logo-name h1{
    font-family: 'Red Rose', cursive;
    font-variant: small-caps;
    line-height: 10vw;
    text-align: center;
    z-index: 1;
}

#logo-tag h1{
    color: #4B4B4B;
    opacity: .45;
    font-size: 50vw;
}



/*==========
Layout
==========*/
#logo-tag,
#logo-name,
#message {
    position: relative;
}

#logo-tag {
    top: -33vw;
}

#logo-name {
    top: 3vw;
    z-index: 1;
}

#message {
    top: -50vw;
}

 .container {
    height: auto;
 }





/*
FONTS
•••••••••••••
font-family: 'Cinzel', serif;
font-family: 'Red Rose', cursive;
font-family: 'Tajawal', sans-serif;
*/
